<!DOCTYPE html>   
<html>   
<head>  
<meta name="viewport" content="width=device-width, initial-scale=1">  
<title> Login Page </title>  
<link rel="stylesheet" href="C:\Users\premrasu\Desktop\optimizing spam filter\flask\css & images\style.css">
<style>   
Body {  
  font-family: Calibri, Helvetica, sans-serif;  
  background-image:url("blacksp.jpg");
background-repeat:no-repeat;
background-color: rgb(34, 38, 41);
    
}  
h1
{
color:white;
}   
</style>   
</head>    
<body>    
    <h1>OPTIMIZING </h1>    
    <form>  
        <div class="container">  
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br><br><br><br><br><br>
            <label>Chech the mail: </label>   
            <input type="text" placeholder="Enter mail" name="username" required>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    
            <button type="submit">Predict</button> <br>  
           
              
            <a href="#">  </a>   
        </div>   
    </form>     
</body>     
</html>  